.cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading1 {
  text-align: center;
}
.image1 {
  width: 75%;
  height: 35%;
}

.item {
  border: 1px solid black;
  display: flex;
  align-items: center;
}
